variant: fcos
version: 1.6.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - ${SSH_PUBKEY}
      password_hash: ${PASSWORD_HASH}
storage:
  directories:
    - path: /etc/containers/volumes/wg-easy
      mode: 0700
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: ${HOSTNAME}
    - path: /etc/NetworkManager/system-connections/static-eno1.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=static-eno1
          type=ethernet
          interface-name=eno1

          [ipv4]
          method=manual
          address1=${IPV4_ADDRESS}
          gateway=${IPV4_GATEWAY}
          dns=${IPV4_DNS};

          [ipv6]
          method=disabled
    - path: /etc/modules-load.d/wg-easy.conf
      mode: 0644
      contents:
        inline: |
          wireguard
          nft_masq
    - path: /etc/containers/systemd/wg-easy.network
      mode: 0644
      contents:
        inline: |
          [Network]
          NetworkName=wg-easy
          IPv6=true
    - path: /etc/containers/systemd/wg-easy.container
      mode: 0644
      contents:
        inline: |
          [Unit]
          Description=wg-easy WireGuard VPN UI
          Wants=network-online.target
          After=network-online.target

          [Container]
          ContainerName=wg-easy
          Image=ghcr.io/wg-easy/wg-easy:15
          AutoUpdate=registry
          Volume=/etc/containers/volumes/wg-easy:/etc/wireguard:Z
          Network=wg-easy.network
          PublishPort=51820:51820/udp
          PublishPort=51821:51821/tcp

          Environment=INSECURE=true

          AddCapability=NET_ADMIN
          AddCapability=NET_RAW

          Sysctl=net.ipv4.ip_forward=1
          Sysctl=net.ipv4.conf.all.src_valid_mark=1
          Sysctl=net.ipv6.conf.all.disable_ipv6=0
          Sysctl=net.ipv6.conf.all.forwarding=1
          Sysctl=net.ipv6.conf.default.forwarding=1

          [Service]
          Restart=always

          [Install]
          WantedBy=default.target
